[Desktop Entry]
Name=Fan Control
Comment=System Fan Controller.
GenericName=Fan Controller
Exec=python3 /usr/local/projects/RPiCpuFanControl/fanController.py
Icon=/usr/share/pixmaps/fan64.png
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;